.modal {
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 150px);
	height: 200px;
	background-color: white;
	border: 1px solid #000;
	width: 300px;
	margin: auto;

	.buttons {
		display: flex;
		justify-content: center;
		.ok-button {
			height: 40px;
			width: 140px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: green;
			color: #ffffff;
		}
	}
}